# Non-project-specific build files:
build.xml
local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
platforms/android/build
platforms/android/assets/www
.gradle
www/css
